


@import url('https://www.dafont.com/es/hardwell.font');
@import url('https://www.dafont.com/es/violina.font');
@font-face{
    font-family: "Hardwell";
     src: url("Hardwell.ttf");
}
@font-face{
    font-family: "Violina";
     src: url("Violina Regular");
}








/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
    background-color: white;
     background-image: url("https://s1.ticketm.net/dam/a/b74/387403d3-731d-460a-8105-fa294a8deb74_1181741_TABLET_LANDSCAPE_LARGE_16_9.jpg");
    background-repeat: no-repeat;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


/* mt arriba mb abajo*/


body > .container {
  /*padding: 60px 15px 0;*/
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code{
  font-size: 80%;
}


.jumbotron {
    
    
   background-color: black;
    color: darkred; 
    
    text-align: center;
}





.col-md-6 {
    
    color: darkred; 


}

.col-md-4 {
    
    text-align: center;
    font-size: 15


}




.esquerra{
    
    text-align: left;
}


.letra {
    
    font-family:"Arial";
    font-size: 19px;
    text-align: left;
    color: white; 


}
.letra1 {
    
    font-family:"Hardwell";
    
    font-size: 80px;
    text-align: center;
      color: darkred; 


}

.letra2 {
    
    font-family:"Arial";
    font-size: 60px;
    text-align: left;
    color: orange; 


}

svg{
  
    fill: orange;
}


svg:hover{
    
    
    fill: red;
}



   
    
    



canvas{
  z-index: 2;
    //align-items: center;
}












